cache/
artifacts/

coverage*
typechain/

.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default

node_modules/
.env

.yalc
yalc.lock

contractsInfo.json
deployments/hardhat
deployments/localhost

/.dapp
secrets.txt
.DS_Store

gateway/bee/
gateway/bee-clef/

frontend/src/hardhat/deployments/localhost